// Gstone grimoire web assets (clocktower.gstonegames.com)
$gstone-token: "https://oss.gstonegames.com/data_file/clocktower/web/token1.png";
$gstone-life: "https://oss.gstonegames.com/data_file/clocktower/web/life1.png";
$gstone-shroud: "https://oss.gstonegames.com/data_file/clocktower/web/shroud1.png";
$gstone-death: "https://oss.gstonegames.com/data_file/clocktower/web/death1.png";
